@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.Configuration;
@using Chloroplast.Core.Extensions;
@{
    string RenderNodes(IConfigurationSection section, bool isInit)
    {
        var children = section.GetChildren();
        if (children.Any())
        {
        
            @if(isInit){
                <ul class="nav-accordion accordion">
                    @foreach(var item in children)
                    {
                        <li>
                            <a href="#" aria-expanded="false" class="trigger primary">@item["title"]</a>
                            @if (item.ContainsKey("items"))
                            {
                                @Raw(RenderNodes(item.GetSection("items"), false))
                            }
                        </li>
                    }
                </ul>
            } else {
                <ul>
                    @foreach(var item in children)
                    {
                        <li>
                            <a href="#" aria-expanded="false" class="trigger">@item["title"]</a>
                            @if (item.ContainsKey("items"))
                            {
                                @Raw(RenderNodes(item.GetSection("items"), false))
                            }
                        </li>
                    }
                </ul>
            }
        }
        return "";
    }
}

<section class="sidebar">
    @RenderNodes(Model.Metadata.GetSection ("navTree"), true)
</section>