@using System.Linq
@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.RenderedContent>
@await PartialAsync("docs/Netduino/menu.md")
<section class="content">
    <div class="content-banner">
        <h2>Neduino!</h2>
        <h3>@Model.GetMeta("title")</h3>
    </div>
        
    @if (@Model.HasMeta("subtitle"))
    {
        <h4>@Model.GetMeta("subtitle")</h4>
    }
    <div class="content-body">
        @Raw(Model.Body)
    </div>
</section>
<section class="articlebar">
  <div class="article_inner">
    <div class="page-info">
      <p>
        <span class="visually-hidden">Last Edited</span>
        <span>04/17/2020</span>
        <a class="pencil icon" href="#"><span class="visually-hidden">Edit Article</a>
    </div>
    <div class="article-nav">
      @if (Model.Headers.Length > 0)
      {
      <h2>In this article</h2>
      
        @{int lastLevel = 0};
        @{var lastItem = Model.Headers.Last()};
        @{var firstItem = Model.Headers.First()};

        @foreach(var header in @Model.Headers)
        {
          bool goingDeeper = lastLevel < header.Level;
			    bool goingHigher = lastLevel > header.Level;

          if(header.Equals(firstItem)){
            @:<ul>
          }

          // Render nested UL if we are moving down the header heirarchy 
          if(goingDeeper && !header.Equals(firstItem)){
            @:<li><ul>
          } 

          // close nested UL if we are moving up the header heirarchy
          if(goingHigher && !header.Equals(firstItem)){
            @:</ul></li>
          }
          
           <li><a data-level="@header.Level" href="#@header.Slug">@Raw(header.Value)</a></li>
          
          if(header.Equals(lastItem)){
            @:</ul>
          }

          @{lastLevel = header.Level};
        }
      }
    </div>
  </div>
</section>