@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.Configuration;
@using Chloroplast.Core.Extensions;

@{  
  
  
  string RenderNodes(IConfigurationSection section)
  {
    var children = section.GetChildren();
    

    if (children.Any())
    {
    <ul>
        @foreach(var item in children)
        {
          @* if (CurrentURL.Contains(item["path"])){
            <li>
              <a class="active" href="@item["path"]">@item["title"]</a>
            </li>
          } else { *@
            <li>
              <a href="@item["path"]">@item["title"]</a>
            </li>
          @* } *@
      }
    </ul>
    }
    return "";
  }
}

<section class="topbar">
    @RenderNodes(Model.Metadata.GetSection ("navTree"))
</section>